* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./1683558927-start-hero.png);
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}

img {
    height: 70px;
    width: auto;
    padding-left: 30px;
    padding-top: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    padding-top: 20px;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding-right: 30px;
}

.navbtn {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    height: 45px;
    width: 80px;
    border-radius: 30px;
    border: none;
    background: #4C64FF;
    margin: 10px;
}

.hero {
    height: 800px;
    width: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;

}

.subhead {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.pilned {
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    height: 45px;
    width: 80px;
    border-radius: 30px;
    border: none;
    background: #4C64FF;
}

main {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: auto;
    background-color: lightgray;
}


.maincontainer {
    display: flex;
    margin: 20px 50px;
}

.woman {
    height: 400px;
    width: auto;
    padding-right: 50px;
}

.maintext {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    padding-left: 100px;
}

.mainrubrik {
    padding-top: 20px;
    padding-bottom: 30px;
}

.mainbutton {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    border: none;
    margin: 30px;
}

.box {
    width: 250px;
    height: 250px;
    border: 3px solid black;
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    font-size: 16px;
}

.recbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    width: auto;
}

.rectitle {
    text-align: center;
    margin: 30px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
  }
  
  .footer_list {
    list-style: none;
  }
  
  .footer_list li {
    margin: 10px;
    padding-right: 100px;
  }
  
  .address_heading {
    margin-top: 10px;
    color: black;
  }

  .footer_logo {
    height: 200px;
    width: auto;
    margin-top: 30px;
    margin-left: 100px;
  }

  .adress {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .textbottom {
    color: black;
  }